<!doctype html>
<html>
    <head>
    </head>
    <body>
        <header>
            <h1>Images</h1>
        </header>
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <footer>
        </footer>
    </body>
</html>
