<!DOCTYPE html>
<html>
    <head>
        <title>All Of It &mdash; PHP Introduction &mdash; A short introduction to PHP web development</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://berlinonline.github.io/php-introduction//components/foundation/css/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="http://berlinonline.github.io/php-introduction//components/highlightjs/styles/default.css" rel="stylesheet" type="text/css" />
        <link href="http://berlinonline.github.io/php-introduction//css/style.css" rel="stylesheet" type="text/css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="http://berlinonline.github.io/php-introduction//components/highlightjs/styles/github.css" />
                                    </head>
    <body>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <nav class="tab-bar">
                                    <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title">All Of It &mdash; PHP Introduction</h1>
                </section>
                </nav>
                            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/intro/">Intro</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/installation/">Installing PHP</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/basic_syntax/">Basic Syntax</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/a_web_application/">A Web Application</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/objects_and_classes/">Objects and Classes</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/a_real_application/">A Real Application</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/builtin_functions_and_classes/">Built-in Functions and Classes</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/arrays/">Arrays</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/type_juggling/">Type Juggling and Comparisons</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/more_on_functions/">More On Functions</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/inheritance/">Inheritance</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/namespaces_and_autoloading/">Namespaces and Autoloading</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/all_of_it/">All Of It</a>
    </li>
    <li>
        <a href="http://berlinonline.github.io/php-introduction/chapters/where_to_go_from_here/">Where To Go From Here</a>
    </li>
</ul>
            </aside>

            <section class="main-section">
                <div class="row">
                    <div class="small-12 columns">
                                                                                                                                            
<div class="row">
    <div class="small-4 columns text-left">
                    <a href="http://berlinonline.github.io/php-introduction/chapters/namespaces_and_autoloading/">Previous</a>
            </div>
    <div class="small-4 columns text-center">
        <a href="http://berlinonline.github.io/php-introduction/">Index</a>
    </div>
    <div class="small-4 columns text-right">
                    <a href="http://berlinonline.github.io/php-introduction/chapters/where_to_go_from_here/">Next</a>
            </div>
</div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <p>We now have covered most of the PHP language and the most important parts of its general ecosystem.</p>

<p>There is of course still much to learn, though. We haven't talked about databases at all for example. But at the end of this chapter you'll have all the tools and the vocabulary you need to learn about all the rest of the PHP world on your own. The purpose of this introduction was to get you familiar with PHP itself and the way modern PHP applications are built. We'll finish this off by building something again: a dynamic image gallery.</p>

<p>Here's how it should work:</p>

<p>You put image files (JPGs, PNGs, ...) in a directory and YAML files with some extra information (e.g. titles) in another one. The YAML files should be related to the image files by name, so <code>foo.jpg</code> will have its additional info in <code>foo.jpg.yml</code>.</p>

<p>Our application will present a web page listing all images and clicking on one of them will lead to another page with just that one image.</p>

<p>This project will use most of the things that we covered in the past 11 chapters as well as some new things:</p>

<ul>
<li>Composer</li>
<li>Silex</li>
<li>closures</li>
<li>classes

<ul>
<li>inheritance</li>
<li>traits</li>
</ul></li>
<li>exceptions</li>
<li>services</li>
<li>TWIG templates

<ul>
<li>template inheritance</li>
</ul></li>
</ul>

<p>The complete code, along with some sample data can be found <a href="https://github.com/lnwdr/php-introduction/tree/master/examples/12">here</a>. We won't discuss every piece of it in this chapter, just the parts that are new so read through all of the code carefully, look up things that are not clear, use the PHP manual, find documentation on the used third party components online. This is where the training wheels come off.</p>

<p>Just a quick recap of what I did to set this project up:</p>

<ol>
<li>new directory</li>
<li><code>composer init</code>

<ul>
<li>add dependencies during init</li>
<li><code>silex/silex</code> - framework</li>
<li><code>symfony/yaml</code> - YAML files</li>
<li><code>twig/twig</code> - templates</li>
<li><code>symfony/finder</code> - searching for files</li>
</ul></li>
<li>composer install</li>
<li>make an 'src/ImageDemo/' directory and <a href="http://berlinonline.github.io/php-introduction/chapters/namespaces_and_autoloading/#autoloading">register <code>src</code> as the root namespace</a></li>
</ol>

<p>Now, there are some new concepts in this application. Let's talk about those.</p>

<h2 id="putting-the-m-in-mvc">Putting the M in MVC</h2>

<p>Most modern web applications are designed with the <a href="http://en.wikipedia.org/wiki/Model–view–controller">"Model View Controller Pattern (MVC)"</a>. Basically it means, that an application is separated into three general parts:</p>

<ul>
<li><p><strong>Model</strong></p>

<p>The rules and logic that describe what this application is about.</p></li>
<li><p><strong>Controller</strong></p>

<p>A relatively thin layer that coordinates model and view according to incoming input.</p></li>
<li><p><strong>View</strong></p>

<p>Everything that has to do with representation to the outside.</p></li>
</ul>

<p>Our previous example application where more like "VC" without the "M" but with a controller that did way too many things.</p>

<p>In our little image gallery the model describes that there are images (the <code>Image</code> class), which have a URL and a title. It also knows where the files for that data are stored and how to read them (the <code>ImageService</code> does that).</p>

<p>Our controller is everything in <code>app.php</code>. It accepts incoming requests, calls appropriate model methods and passes their results along to the view. The controller also transforms the <code>Image</code> objects from the model into plain arrays to prevent the view from having too much access to the model.</p>

<p>The view layer consists of our Twig templates in the <code>views/</code> directory.The only thing it does is to produce HTML output.</p>

<p>An application that follows this pattern can later easily be extended with new components. Also, part of it can be completely rewritten or replace by something else without affecting the rest. For example, we could add more views that produce RSS feeds instead of HTML pages, or we could replace the file based storage model with one that reads from a database.</p>

<h2 id="services-and-entities">Services and Entities</h2>

<p>We could have put all of our model logic in the <code>Image</code> class but that class would have become quite cumbersome and complicated. Also, an <code>Image</code> should really just represent itself, not our entire storage mechanism. One way of separating entities like our <code>Image</code> from the rest of the model are services. Services are classes that provide functionality to the rest of the application. We already saw another service in action: Silex's TwigServiceProvider, a class that provides a functionality (rendering Twig templates) our application.</p>

<p>To handle our images, we have an <code>ImageService</code> which is responsible for loading data from files and transforming it into <code>Image</code> objects. Such objects that represent data are often called "Entities".</p>

<p><em>To summarize:</em></p>

<ul>
<li>Entities are objects that <strong>are</strong> things</li>
<li>Services are objects that <strong>do</strong> things</li>
</ul>

<h2 id="custom-exceptions">Custom exceptions</h2>

<p>We have created a <code>NotFoundException</code> class that seemingly does nothing. It just extends the regular <code>Exception</code>. The point of this is to distinguish exceptions that we know from the ones we don't know. Our application only knows how to handle the case when an image was not found. But there are other things that could go wrong and that need to be handled differently. Not every exception should result in showing the user the "not found" error page.</p>

<p>When catching an exception we can specify what type of Exception we want to catch:</p>

<pre><code>try {
  //...
} catch (NotFoundException $e) {
  //handle only NotFoundException, not all exceptions
}
</code></pre>

<p><code>catch</code> will only catch Exceptions of the specified type and those that inherit from it. All other Exceptions are not caught by this <code>catch</code> statement and can be handled elsewhere.</p>

<h2 id="the-toarray-trait-and-abstract-methods">The toArray trait and abstract methods</h2>

<p>Our controller should convert all objects that come from the model into arrays before giving them to the view. That's because the view should not be allowed to touch model objects directly. We could have just added a <code>toArray()</code> method to our <code>Image</code> class but maybe we'll need that functionality on other classes later as well.</p>

<p>The trait <code>toArray</code> has something new in it: an abstract method. Any class that uses this trait must implement this method or PHP will complain about it with a fatal error. This way we can force classes who want to use this trait to provide the <code>getArrayKeys()</code> method that the trait needs in order to work.</p>

<p>Abstract methods can also be used in classes, forcing their inheritants to implement certain methods.</p>

<p>Interfaces contain only abstract methods. which is why they don't need the <code>abstract</code> keyword in front of them.</p>

<h2 id="third-party-components">Third party components</h2>

<p>We used several third party libraries in this example, some of which we already know:</p>

<ul>
<li>Symfony Finder</li>
<li>Symfony YAML</li>
<li>Twig</li>
<li>Silex</li>
</ul>

<p>The <a href="http://symfony.com/doc/current/components/finder.html"><code>Finder</code></a> is one we haven't seen before. It's a component that helps us locate files and read them. There are PHP functions for most of that but the <code>Finder</code> component is more convenient.</p>

<p>This "Symfony" that keeps popping up is another PHP framework, like Silex, but much more complex. You might want to <a href="http://symfony.com">have a look at it</a>. Apart from the actual framework, it has many standalone components that can be used anywhere.</p>

<h2 id="twig-template-inheritance">Twig template inheritance</h2>

<p>Our Twig templates use a yet unfamiliar syntax: <code>{% extends ... %}</code></p>

<p><a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Twig templates can inherit</a> from other Twig templates, just like PHP classes. And just like classes, the child template can override parts of its parent.</p>

<p>In <code>layout.twig</code> there's a <code>{% block ... %}</code> named "content" and it's empty. Any template that inherits from <code>layout.twig</code> can now also define a block with the same name to replace the empty block with actual content.</p>

<p>This way we only have to write the <code>&lt;!doctype html&gt;&lt;html&gt;&lt;head&gt; ...</code> part of our HTML code once and can reuse it in all of our templates.</p>
                    </div>

                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <hr>
                                                                                                                                            
<div class="row">
    <div class="small-4 columns text-left">
                    <a href="http://berlinonline.github.io/php-introduction/chapters/namespaces_and_autoloading/">Previous</a>
            </div>
    <div class="small-4 columns text-center">
        <a href="http://berlinonline.github.io/php-introduction/">Index</a>
    </div>
    <div class="small-4 columns text-right">
                    <a href="http://berlinonline.github.io/php-introduction/chapters/where_to_go_from_here/">Next</a>
            </div>
</div>
                    </div>
                </div>
            </section>

                <div class="row">
                    <div class="small-12 columns">
                        <footer class="main-footer">
                            <nav><ul class="inline-list">
                                    <li>
                                        <a href="https://www.github.com/berlinonline/php-introduction">PHP Introduction on Github</a>
                                    </li>
                                    <li>
                                        <a href="http://www.berlinonline.net">BerlinOnline Stadtportal GmbH & Co. KG</a>
                                    </li>
                            </ul></nav>
                        </footer>
                </div>
                <a class="exit-off-canvas"></a>
            </div>
        </div>

                <script src="http://berlinonline.github.io/php-introduction//components/jquery/jquery.min.js"></script>
        <script src="http://berlinonline.github.io/php-introduction//components/foundation/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script src="http://berlinonline.github.io/php-introduction//components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
            </body>
</html>

