{% extends "layout.twig" %}

{% block content %}
    <h1>{{event.title}}</h1>
    <p>{{event.date | date(date_format)}}
    <p>{{event.date | date(time_format)}}
    <p>{{event.description}}</p>
{% endblock %}

